<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu</title>
</head>
<body>
    <div style="text-align: center; margin-top: 20%;">
        <h1>ADMIN</h1>
        <button onclick="location.href='/addUser'">Añadir usuario</button>
        <button onclick="location.href='/viewUserDatabase'">Ver base de datos del usuario</button>
        <button onclick="location.href='/viewEventDatabase'">Ver base de datos de eventos</button>
        <button onclick="location.href='/deleteUser'">Borrar usuario</button>
        <button onclick="location.href='/showCriticalEvents'">Mostrar eventos críticos</button>
        <button onclick="location.href='/filterCriticalEvents'">Filtrar tipo de evento crítico</button>
        <button onclick="location.href='/logout'">Salir</button>
    </div>
</body>
</html>